body{
	background-image: url(/assets/images/background.png);
  	background-repeat: no-repeat;
  	background-size: auto;
}

.jumbotron{
	/*padding: 1%;*/
	background-color: black;
	color: #ffffff;
}

#movies{
	padding: 3%;
	margin-right:10px;
}

div{
	margin-bottom: 2%;
}

#movie-buttons{
	padding-bottom: 10px;
}